*:root{
background-color: blanchedalmond;
}

.header{
    border-style: solid;
}

.h1{
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    font-size: xx-large;
    font-family: initial;
    font-weight: bold;
    margin-top: 5px;
}

.h3{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-size: large;
    font-family: initial;
    font-weight: bold;
}

.p1{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-size: smaller;
    font-family: initial;
}

.beer-city{

}

.beer-button{

}